@import "./common/var.scss";
@import "./icon.scss";

// BEM support
$namespace: 'vc';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

@mixin b($block) {
  $B: $namespace + '-' + $block;
  
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $currentSelector: &;
  $B: str-slice(#{$currentSelector}, 2, str-length(#{$currentSelector}));
  
  @at-root {
    #{$currentSelector + $element-separator + $element} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $currentSelector: &;
  
  @at-root {
    #{$currentSelector + $modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

// Button variant mixin
@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  
  &:hover,
  &:focus {
    background: mix($--color-white, $background-color, $--button-hover-tint-percent);
    border-color: mix($--color-white, $border-color, $--button-hover-tint-percent);
    color: $color;
  }
  
  &:active {
    background: mix($--color-black, $background-color, $--button-active-shade-percent);
    border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
    color: $color;
    outline: none;
  }
  
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &.is-disabled:active {
    color: $--color-white;
    background-color: mix($--color-white, $background-color, $--button-disabled-tint-percent);
    border-color: mix($--color-white, $border-color, $--button-disabled-tint-percent);
  }
}

